@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-white font-sans;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
}

@layer base {
    body {
      background-color: #1e1e24; /* Тёмный фон */
      color: white; /* Белый текст по умолчанию */
    }
  }